caption {
	text-align: left;
	font-size: 30px;
}
table {
	width: 700px;
}

th {
	text-align: left;
}

table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
}

th,
td {
	padding: 15px;
}

.lead_header {
	background-color: rgb(160, 160, 160);
}

th:nth-child(n + 2) {
	/*n means all, +2 means starting from the second one*/
	background-color: rgb(245, 236, 236);
}

td:nth-child(even) {
	background-color: gray;
}
.dices{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border: 1px solid black;
	text-align: center;
	width: 70px;
	height: 500px;
	margin-top: 100px;
	margin-left: 30px;
}
.dices h3{
	cursor: pointer;
	margin: auto;
	padding: 10px;
}
.myBody{
	display: flex;
	justify-content: space-around;
}
.onePart{
	display: flex;
	justify-content: space-between;
}
.roll{
	height: 50px;
	padding: 10px 30px;
	margin-top: 300px;
	background-color: gray;
	border-radius: 10rem;
	cursor: pointer;
}
.choosedDice{
	background-color: gray;
	color: white;
	border: 1px solid black;
}
.choosedMinor, .choosedMajor{
	background-color: red !important;
	border: 1px solid black;
}
